@page "/{author}"
@using Chirp.Infrastructure.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<Author> UserManager

@model Chirp.Web.Pages.UserTimelineModel

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author") as string;
}

<div>
    <h2> @routeName's Timeline </h2>

    <partial name="_CheepFormPartial" model="Model.FormData" />
    
    @if (User.Identity!.IsAuthenticated)
    {
        var author = await UserManager.GetUserAsync(User);

        if (routeName == author!.Name)
        {
            <div style="display: flex; gap: 20px;">
                <partial name="_FollowedByCardPartial" model="Model" />
                <partial name="_AchievementCardPartial" model="author" />
            </div>   
        }
    }

    @if (Model.Cheeps.Any())
    {
        <partial name="_MessageListPartial" model="Model" />
    }
    else
    {
        <div style="margin-top: 10px;"><em>There are no cheeps so far.</em></div>
    }
</div>

@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial" />
}