@page "/{author}"
@using Chirp.Infrastructure.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<Author> UserManager

@model Chirp.Web.Pages.UserTimelineModel
    
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author") as string;
    var author = await UserManager.GetUserAsync(User);
}

<div>
    <h2> @routeName's Timeline </h2>

    @if (User.Identity!.IsAuthenticated && routeName == author!.Name)
    {
        <a>It worked!</a>
    }
    else if (Model.Bio == null)
    {
        <a>@routeName has no bio yet...</a>
    }
    
    <div>
        <em>@Model.Bio</em>
    </div>

    <partial name="_CheepFormPartial" model="Model.FormData" />

    @if (Model.Cheeps.Any())
    {
        <partial name="_MessageListPartial" model="Model" />
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>

@section Scripts {
    <partial name="Shared/_ValidationScriptsPartial" />
}