<div class="achievement-card">
    <h3 class="card-heading" style="text-align: center; margin-bottom: 14px;">Newest Achievement</h3>
    <div class="achievement-container">
        <img style="width: 110px;" src="images/Badges/Signup-badge.png"/>
        <div>
            <h4 class="achievement-heading">Rookie Chirper</h4>
            <p class="achievement-p">Welcome aboard! You signed up successfully to Chirp</p>
        </div>
    </div>
</div>
