@model Chirp.Web.Pages.Models.BioModel;
@inject ICheepService cheepService;

@{
    var routeName = Model.RouteName;
    var isMyBio = Model.IsMyBio;
    var author = await cheepService.GetAuthorByName(routeName);

    <style>
        .link-style-button-edit {
            background-image: url("images/editButton.svg");
            padding: 0.7em;
        }

        .link-style-button-save {
            background-image: url("images/saveButton.svg");
            padding: 1em;
        }

        .link-style-button-edit, .link-style-button-save {
            border: none;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            background-color: transparent;
            margin: 0;
        }
        
        .formWrapper {
            display: flex;
            justify-items: center;
        }
    </style>
    
    <script>
    function enableEditing() {
        const bioP = document.getElementById('authorBio');
        const editButton = document.getElementById('editButton');
        const editInput = document.getElementById('editInput');
        const saveButton = document.getElementById('saveButton');
        const form = document.getElementsByClassName('bio-form')[0];

        // Hide the text and the edit button
        bioP.style.display = 'none';
        form.style.display = 'flex';
        editButton.style.display = 'none';

        // Focus on the input field
        editInput.focus();

        // Place the cursor at the end of the text
        const length = editInput.value.length;
        editInput.setSelectionRange(length, length);
    }
    </script>
}

@if (isMyBio)
{
    var hasBio = !string.IsNullOrEmpty(author!.Bio);
    <div style="display: flex; gap: 20px; align-items: center;">
        <p id="authorBio" style="margin: 0;">@(hasBio ? author.Bio : $"{author.Name} has no bio yet...")</p>
        <form class="bio-form" method="post" asp-page-handler="UpdateBio" style="display: none; gap: 20px; flex-grow: 1; align-items: center;">
            <textarea type="text" name="newBio" id="editInput" style="flex-grow: 1; height: 60px;" asp-for="BioText.Bio"></textarea>
            <button id="saveButton" type="submit" style="display: flex; gap: 10px; align-items: center; border-radius: 1000px; padding: 4px 16px;" type="button" onclick="enableEditing()">
                <p style="margin: 0;">Save</p>
                <div><img src="/images/saveButton.svg" style="width: 25px; fill: red;" alt="save" /></div>
            </button>
            <span asp-validation-for="BioText.Bio" class="text-danger"></span>
        </form>
        <button id="editButton" style="display: flex; gap: 10px; align-items: center; border-radius: 1000px; padding: 4px 16px;" type="button" onclick="enableEditing()">
            <p style="margin: 0;">Edit</p>
            <div><img src="/images/editButton.svg" style="width: 25px;" alt="edit" /></div>
        </button>
    </div>
}
else
{
    if (string.IsNullOrEmpty(author!.Bio))
    {
        <a>@(author.Name) has no bio yet...</a>
    }
    else
    {
        <div>
            <em>@author.Bio</em>
        </div>
    }
}