@using Chirp.Core.Services
@model Chirp.Web.Pages.Models.BioModel;
@inject IAuthorService AuthorService;

@{
    var routeName = Model.RouteName;
    var isMyBio = Model.IsMyBio;
    var author = await AuthorService.GetAuthorByNameAsync(routeName!);
    var hasBio = !string.IsNullOrEmpty(author?.Bio);
}

@if (isMyBio)
{
    <div class="div-bio-style">
        <p id="author-bio" class="p-bio">@(hasBio ? author?.Bio : "You have no bio yet...")</p>
        <form class="bio-form" method="post" asp-page-handler="UpdateBio">
            <textarea type="text" name="newBio" class="edit-bio-text" id="editInput" asp-for="BioText.Bio"></textarea>
            <button id="save-button" class="bio-button" type="submit" onclick="enableEditing()">
                <p class="p-bio-edit">Save</p>
                <div><img src="/images/saveButton.svg" class="save-bio-button-image" alt="save" /></div>
            </button>
            <button id="cancel-button" class="bio-button" type="button" onclick="disableEditing('@author?.Bio')">
                <p class="p-bio">Cancel</p>
                <div><img src="/images/cancelButton.svg" class="cancel-button-image" alt="cancel"/></div>
            </button>
            <span asp-validation-for="BioText.Bio" class="text-danger"></span>
        </form>
        <button id="edit-button" class="bio-button" type="button" onclick="enableEditing()">
            <p class="p-bio">Edit</p>
            <div><img src="/images/editButton.svg" class="edit-bio-button-image" alt="edit" /></div>
        </button>
    </div>
}
else
{
    <p id="author-bio" class="p-bio">@(hasBio ? author?.Bio : $"{author?.Name} has no bio yet...")</p>
}