@model Chirp.Web.Pages.Models.BioModel;
@inject ICheepService cheepService;

@{
    var routeName = Model.RouteName;
    var isMyBio = Model.IsMyBio;
    var author = await cheepService.GetAuthorByName(routeName);
}

@if (isMyBio)
{
    var hasBio = !string.IsNullOrEmpty(author!.Bio);
    <div class="div-bio-style">
        <p id="authorBio" class="p-bio">@(hasBio ? author.Bio : $"{author.Name} has no bio yet...")</p>
        <form class="bio-form" method="post" asp-page-handler="UpdateBio">
            <textarea type="text" name="newBio" class="edit-bio-text" id="editInput" asp-for="BioText.Bio"></textarea>
            <button id="saveButton" class="bio-button" type="submit" type="button" onclick="enableEditing()">
                <p style="margin: 0; word-break: break-word;">Save</p>
                <div><img src="/images/saveButton.svg" class="save-bio-button-image" alt="save" /></div>
            </button>
            <span asp-validation-for="BioText.Bio" class="text-danger"></span>
        </form>
        <button id="editButton" class="bio-button" type="button" onclick="enableEditing()">
            <p class="p-bio">Edit</p>
            <div><img src="/images/editButton.svg" class="edit-bio-button-image" alt="edit" /></div>
        </button>
    </div>
}
else
{
    if (string.IsNullOrEmpty(author!.Bio))
    {
        <a>@(author.Name) has no bio yet...</a>
    }
    else
    {
        <div>
            <em>@author.Bio</em>
        </div>
    }
}