<div class="followers-card">
    <h3 class="card-heading">Followers</h3>
    <ul class="followers-ul">
        <li>
            <a href="/name">Person 1</a>
        </li>
        <li>
            <a href="/name">Person 2</a>
        </li>
        <li>
            <a href="/name">Person 3</a>
        </li>
        <li>
            <a href="/name">Person 4</a>
        </li>
    </ul>
    <p style="margin: 0;">And 12 more...</p>
</div>