<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
<script>
        // Apply dark mode before the page renders
        if (localStorage.getItem("dark-mode") === "enabled") {
            document.documentElement.classList.add("dark-mode");
        }
    </script>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/darkMode.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="page">
    <h1><a href="/"><img src="/images/icon1.png" alt="Icon1"/></a>Chirp!</h1>
    
    <div id="dark-mode-toggle" style="">
        <img id="theme-image" src="/images/moon-line.png" alt="Theme icon" />
    </div>
    
    <partial name="_LoginPartial" />
  
    <div class=body>
            @RenderBody()
    </div>
    <div class=footer>
        Chirp &mdash; An ASP.NET Application
    </div>
</div>

</body>
@await RenderSectionAsync("Scripts", required: false)
    <script src="/js/darkModeToggle.js"></script>

</html>
