@using Microsoft.AspNetCore.Identity
@using Chirp.Infrastructure.Models;
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

<div class=navigation>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <a href="/@(User.Identity.Name)">my timeline</a> |
            <a href="/">public timeline</a> |
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link text-dark">logout [@(User.Identity.Name)]</button>
            </form>
        </div>
    }
    else
    {
        <div>
            <a href="/">public timeline</a> |
            <a asp-area="Identity" asp-page="/Account/Register">register</a> |
            <a asp-area="Identity" asp-page="/Account/Login">login</a>
        </div>
    }
</div>